{# @var  #}
<div class="col-md-12">
    <h3 class="page-header"><img src="{{ logo }}"/> {{ page_title }}</h3>
    {% if results is defined and results is not empty %}
        <div class="alert alert-warning alert-dismissible">
            {% autoescape %}
                {{ results|raw }}
            {% endautoescape %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        </div>
    {% endif %}
    <div class="col-md-6">
        <h4 class="page-header">Connection</h4>
        <form method="post" action="{{ url }}">
            <input type="hidden" name="id" value="{{ id }}" />
            <input type="hidden" name="sortechs" value="true" />

            {% if sortechs_id is defined and  sortechs_secret is defined %}
                <div class="form-group">
                    <label for="app_id">APP ID</label>
                    <input type="password" disabled="disabled" name="app_id" class="form-control" value="************" id=app_id" placeholder="Enter App Id">
                </div>
            {% endif %}
            {% if sortechs_id is not defined and  sortechs_secret is not defined %}
                <div class="form-group">
                    <label for="app_id">APP ID</label>
                    <input type="text" name="app_id"  class="form-control"  id=app_id" placeholder="Enter App Id">
                </div>
            {% endif %}

            {% if sortechs_id is defined and  sortechs_secret is defined %}
                <div class="form-group">
                    <label for="secret_id">Secret ID</label>
                    <input type="password" name="secret_id" class="form-control" disabled="disabled" value="************" id=secret_id" placeholder="Enter Secret Id">
                </div>
            {% endif %}
            {% if sortechs_id is not defined and  sortechs_secret is not defined %}
                <div class="form-group">
                    <label for="secret_id">Secret ID</label>
                    <input type="text"  name="secret_id" class="form-control" id="secret_id" placeholder="Enter Secret Id">
                </div>
            {% endif %}


            {% if sortechs_id is defined and  sortechs_secret is defined %}
                <div class="btn-group pull-right">
                    <button type="submit" name="submit_btn"  value="remove" class="btn btn-sm btn-danger ">Remove</button>
                    <button type="submit" name="submit_btn" value="create" disabled="disabled" class="btn btn-sm btn-success">Connected</button>
                </div>
            {% endif %}
            {% if sortechs_id is not defined and  sortechs_secret is not defined %}
                <button type="submit"  name="submit_btn" value="create"  class="btn btn-sm mce-btn-flat btn-primary pull-right">Connect</button>
            {% endif %}


        </form>
    </div>
    <div class="col-md-6">
        <h4 class="page-header">Help</h4>
        <p>Copy the App-Id and App-secret from the "Credentials" tab in Sortechs, and make sure that there are no spaces “before, after, or between” the App-Id and App-secret</p>
    </div>
</div>