{# @var  #}
<script type="application/javascript">
  /*  $(document).ready(function(){
    $('#sortechs-select-all-category').change(function () {
        if($(this).prop('checked')){
            $('input[name="category[]"]').map(function() {
                $(this).prop('checked', true);
            });
        }else{
            $('input[name="category[]"]').map(function() {
                $(this).prop('checked', false);
            });
        }
    });
    });*/
</script>
<div class="col-md-12">
    <h3 class="page-header"><img src="{{ logo }}"/> {{ page_title }}</h3>
    {% if results is defined and results is not empty %}
        <div class="alert alert-warning alert-dismissible">
            {% autoescape %}
                {{ results|raw }}
            {% endautoescape %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        </div>
    {% endif %}
    <div class="col-md-6">
        <h4 class="page-header">Category's</h4>
        <form method="post" action="{{ url }}">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Connected</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categorys %}
                    <tr>
                        <td>  {{ category.name }}</td>
                        <td>
                            {% if category.used==0 %}
                            <input type="checkbox" name="category[]" value="{{ category.term_id }}"/>
                            {% else %}
                            <input type="checkbox" checked="checked" disabled="disabled"/>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {#<tfoot>
                <tr>
                    <th></th>
                    <th><input type="checkbox" id="sortechs-select-all-category" value="1"/></th>

                </tr>
                </tfoot>#}
                </tbody>
            </table>
            <button type="submit"  name="submit_btn" class="btn btn-sm mce-btn-flat btn-primary pull-right">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        <h4 class="page-header">Help</h4>
    </div>
</div>